@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient-canvas {
  --gradient-color-1: #ffa3b6;
  --gradient-color-2: #ff335c;
  --gradient-color-3: #e2d8ee;
  --gradient-color-4: #fa6464;
}
